.contact-details-page{
    nav {
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;
        img {
            width: 50px;
        }
    }
    main{
        font-size: 1.6rem;
        text-align: center;
        img{
            max-width: 200px;
            border-radius: 1000px;
        }
        padding: 0 30px;
        .moves{
            text-align-last: left;
        }
    }
}