.contact-filter{
    input{
        width: 100%;
        height: 60px;
        border: none;
        border-radius: 0;
        background-color: $clr4;
        color: #eee;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 1.5rem;
    }
}