.contact-edit {
    form {
        padding: 20px 30px;
        display: flex;
        flex-direction: column;
        * {
            margin-bottom: 15px;
        }
        img {
            position: relative;
            margin: 0 auto 15px;
            max-width: 200px;
        }
        input,
        button {
            height: 50px;
            background-color: $clr4;
            color: $clr2;
            border: none;
            border-radius: 5px;
            padding: 0 20px;
        }
        button {
            cursor: pointer;
        }
        .ng-touched.ng-invalid,
        .submited.ng-invalid {
            border: 1px red solid;
        }
        .btn {
            display: flex;
            justify-content: space-evenly;
            .del {
                background-color: #ec1c24;
                color: #333;
            }
        }
    }
}
