.signup-page {
    padding: 50px;
    text-align: center;
    
    max-width: 500px;
    margin: 0 auto;
    form {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        *{
            margin-bottom: 10px;
            height: 35px;

        }
        button{
          background-color: $clr4;  
          color: $clr2;
          border: none;
          border-radius: 5px;
        }
    }
}
